* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: aqua;
}

.cards {
    border-top: 2px solid yellow;
    border-bottom: 2px solid rgb(197, 197, 0);
    border-left: 2px solid rgb(126, 126, 0);
    border-right: 2px solid rgb(77, 77, 0);
    padding: 10px;
    height: 225px;
    width: 125px;
    background-color: gray;
    display: inline-block;
    margin: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(161, 161, 13);
}

#header {
    background-color: pink;
    width: 50%;
    margin: 0px auto;
    text-align: center;
    padding: 15px 0px;
    /*
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    */
}

#outer {
    width: 500px;
    background-color: bisque;
    padding-top: 20px;
    margin: 10px auto;
}